<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="Logger" type="Tree.Configuration.LoggerConfiguration, Tree" />
    <section name="Container" type="Tree.Configuration.ContainerConfiguration, Tree" />
  </configSections>

  <Logger>
    <appenders>      
      <add name="default" type="Tree.Log.Impl.ConsoleLogger" pattern="{l}\t{d}  [{t}]  {w}\r\n{s}\r\n" />      
      <add name="main" namespace="TreeTest" type="Tree.Log.Impl.FileLogger" pattern="{l}\t{d}  [{t}]  {w}\r\n{s}\r\n" path="%appdata%\teste.log"/>      
    </appenders>
  </Logger>
  <!--
  <Container>
    <collection>
      <add type="TreeTest.ITest" impl="TreeTest.Impl.TestSupport" />
    </collection>
  </Container>
  -->
</configuration>